/* This is your custom storybook stylesheet. */
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';
// @use 'demo';
$font-prefix: '../fonts';
@import '@ibm/plex/scss/mono/index';
@import '@ibm/plex/scss/sans/index';
@import '@ibm/plex/scss/serif/index';

@mixin sans-font {
    font-family:
        "IBM Plex Sans",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        ".SFNSText-Regular",
        sans-serif;
}

.demo-sandbox {
    @import '@carbon/styles/scss/reset';
    @include sans-font;
    @include theme.theme(themes.$g10);
    background-color: var(--cds-background);
    color: var(--cds-text-primary);
    // @include demo.components;
}
