/* This is your custom storybook stylesheet. */
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/type';

@import '@ibm/plex/css/ibm-plex.css';

@include type.reset;

.psb {
  @include type.font-family('sans');
  --psb-font-mono: #{type.font-family('mono')};
}

.psb code.psb,
.psb pre.psb,
.psb kbd.psb,
.psb samp.psb,
.psb-doc pre code,
.psb-doc code.inline {
  @include type.font-family('mono');
}

.demo-sandbox {
  @include reset.reset;
  @include type.font-family('sans');
  @include type.default-type;
  @include theme.theme(themes.$g10);
  background-color: var(--cds-background);
  color: var(--cds-text-primary);
}
