/* Phoenix Storybook styles + Graphene base. */
@import "../../../deps/phoenix_storybook/priv/static/css/phoenix_storybook.css";
@import "../../../deps/phoenix_storybook/priv/static/css/phoenix_storybook_fonts.css";
@import url("/graphene/assets/graphene.css");
@import "./makeup.css";

.psb {
  font-family: var(--cds-font-sans);
  --psb-font-mono: var(--cds-font-mono);
}

.psb code.psb,
.psb pre.psb,
.psb kbd.psb,
.psb samp.psb,
.psb-doc pre code,
.psb-doc code.inline {
  font-family: var(--cds-font-mono);
}

.demo-sandbox {
  background-color: var(--cds-background);
  color: var(--cds-text-primary);
  font-family: var(--cds-font-sans);
}
