@use '@carbon/styles/scss/config' with (
  $css--font-face: false
);
@use '@carbon/styles/scss/reset';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';
@use '@carbon/styles/scss/components';
@use '@carbon/styles/scss/layout';
@use '@carbon/layout/scss/spacing' as carbon_spacing;

@import '@ibm/plex/css/ibm-plex.css';

@include reset.reset;
@include type.reset;
@include type.default-type;

:root {
  @include theme.theme(themes.$g10);

  --cds-font-sans: "IBM Plex Sans", system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
  --cds-font-mono: "IBM Plex Mono", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --cds-font-serif: "IBM Plex Serif", "Georgia", "Times New Roman", serif;

  @each $name, $value in carbon_spacing.$spacing {
    --cds-#{$name}: #{$value};
  }

  @each $name, $value in carbon_spacing.$fluid-spacing {
    --cds-#{$name}: #{$value};
  }
}

cds-grid::part(grid) {
  row-gap: var(--graphene-grid-row-gap, var(--cds-spacing-07));
}
